---
import Row from "../../layouts/Row";
import Button from "../ui/Button";
import leftThingSvgReference from "/icons/left-thing.svg";
import rightThingSvgReference from "/icons/right-thing.svg";
import leftThingMobileSvgReference from "/icons/left-thing-mobile.svg";
import rightThingMobileSvgReference from "/icons/right-thing-mobile.svg";
import { Picture } from "@astrojs/image/components";
---

<div
  class="full-width-section bg-bg pt-16 text-center md:pt-32 lg:mb-48 lg:pt-24"
>
  <Row
    className="relative mb-16 flex flex-col gap-16 md:mb-12 md:gap-20 md:px-16 lg:gap-8"
  >
    <div
      class="absolute inset-0 hidden -translate-x-20 translate-y-20 md:block"
    >
      <img
        src={leftThingSvgReference}
        alt="left decoration"
        class="animate-fadeFromLeft"
      />
    </div>
    <div class="absolute left-0 bottom-0 block -translate-y-16 md:hidden">
      <img
        src={leftThingMobileSvgReference}
        alt="left decoration mobile"
        class="animate-fadeFromLeft"
      />
    </div>
    <div
      class="absolute right-0 top-0 hidden translate-x-20 -translate-y-40 overflow-x-visible md:block lg:-translate-y-24"
    >
      <img
        src={rightThingSvgReference}
        alt="right decoration"
        class="animate-fadeFromRight"
      />
    </div>
    <div
      class="absolute right-0 top-0 block translate-x-1 -translate-y-14 overflow-x-visible md:hidden"
    >
      <img
        src={rightThingMobileSvgReference}
        alt="right decoration mobile"
        class="animate-fadeFromRight"
      />
    </div>
    <div
      class="relative z-10 flex animate-fadeFromBottom flex-col px-6 md:gap-2 md:px-0 lg:gap-2"
    >
      <h1>Your One Stop Shop for</h1>
      <h1 class="text-primary">Web Design and Development</h1>
    </div>
    <p class="body lg:subtitle z-10 animate-fadeFromBottom px-6 md:px-0">
      Beautiful, modern, 100% hand-coded websites for service based businesses
      starting at $249/mo.
    </p>
  </Row>
  <Row className="mb-20 animate-fadeFromBottom lg:mb-16">
    <a href="#pricing">
      <Button full={false}>See Plans</Button>
    </a>
  </Row>
  <Row>
    <div class="-mb-96 hidden flex-row gap-4 lg:flex">
      <div>
        <Picture
          height={742}
          width={668}
          src={"/images/gallery1.webp"}
          alt="Example website - physiotherapy clinic"
          class="animate-fadeFromBottom1"
          sizes="(min-width:1280px)"
          widths={[668]}
          aspectRatio={"668:742"}
        />
      </div>
      <div>
        <Picture
          height={742}
          width={668}
          src={"/images/gallery2.webp"}
          alt="Example website - cafe"
          class="animate-fadeFromBottom3"
          sizes="(min-width:1280px)"
          widths={[668]}
          aspectRatio={"668:742"}
        />
      </div>
      <div>
        <Picture
          height={742}
          width={668}
          src={"/images/gallery3.webp"}
          alt="Example website - coffee shop"
          class="animate-fadeFromBottom5"
          sizes="(min-width:1280px)"
          widths={[668]}
          aspectRatio={"668:742"}
        />
      </div>
    </div>
  </Row>
</div>
<div
  class={"full-width-section -z-10 -mt-48 mb-16 hidden min-h-[350px] lg:block"}
>
  <div class="wave-container"></div>
</div>
